// Colors
$color_yellow: #fafc09;
$color_normal-green: #81d582;
$color_pressed-red: #d12c3c;
$color_bg-principal:#222222;
$color_bg-secondary:#333333;
$color_gray_1: #444444;
$color_gray_2: #BFBFBF;
$color_white_1: #FFFFFF;
$color_white_2: #E8E8E8;
